.container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: #f4f4f4;
    gap: 15px;
}

body{
    margin:10px;
    padding:0;
}

.card {
    background-color: #3028ca;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 10px;
    overflow: hidden;
  }

  .card h1{
    text-align: center;
    overflow: hidden;
  }

  .card div{
    display: grid;
    grid-template-rows: repeat(2,1fr);
  }

  .card:hover {
    transform: translateY(-10px);
  }
  .tag{
    text-align: center;
  }