div.b {
    position: absolute;
    left: 300px;
    width: 190px;
    height: 200px;
    border: 3px solid black;
    margin:70px;
  } 
  .circle{
    height:150px;
    width: 150px;
    border: 3px solid black;
    border-radius: 100%;
    margin:20px;
    display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;

  }